In [62]:
# TRANSFORMATION

# It is often said that 80% of data analysis is spent on the cleaning and preparing data.

# Happy families are all alike; every unhappy family is unhappy in its own way - Leo Tolstoy

# Like families, tidy datasets are all alike but every messy dataset is messy in its own way. 

# Tidy data is a standard way of mapping the meaning of a dataset to its structure. 
# A dataset is messy or tidy depending on how rows, columns and tables are matched 
# up with observations, variables and types. In tidy data:

# 1. Each variable forms a column.
# 2. Each observation forms a row.
# 3. Each type of observational unit forms a table.

# Source: https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html

# Let us work an example 
# Data: http://www.quitoambiente.gob.ec/ambiente/index.php/datos-horarios-historicos
# Data is en excel files (xls)
# We need to work on the file column names, no spaces, no special characters
# Here you can download a zip file with the data to be used
# https://drive.google.com/file/d/0B-dmEvN59Z2ZYWhJWXhvMExFRjQ/view?usp=sharing
# Open a file to see its content

# To read an xls file install
# install.packages("gdata") # read xls
# install addtiontal libraries
# install.packages("tidyr") # drop_na
# install.packages("plyr") # join_all
# install.packages("stringr")
# install.packages("dplyr") # filter data

library(gdata) # load gdata package, install first see above

# Read data
data <- read.xls("00precipitation.mm.xls")
head(data)

# Reshape data
r_data <- reshape(data, direction="long", sep='', varying=paste0('HORA', 1:24))

# Attach data
attach(r_data)

# Sort data
ord_data<-r_data[order(ESTACION, ANO, MES, DIA, time),]

head(ord_data)

# detach the database, important if you want to attach a similar data.frame
detach(r_data)

  ESTACION   MAGNITUD ANO  MES DIA HORA1 HORA2 HORA3 HORA4 HORA5 ⋯ HORA15
1 COTOCOLLAO LLU      2008 1   1   0     0     0     0.0   0.0   ⋯ 0
2 COTOCOLLAO LLU      2008 1   2   0     0     0     0.0   0.0   ⋯ 0
3 COTOCOLLAO LLU      2008 1   3   0     0     1     0.2   0.1   ⋯ 0
4 COTOCOLLAO LLU      2008 1   4   0     0     0     0.0   0.0   ⋯ 0
5 COTOCOLLAO LLU      2008 1   5   0     0     0     0.0   0.0   ⋯ 0
6 COTOCOLLAO LLU      2008 1   6   0     0     0     0.0   0.0   ⋯ 0
  HORA16 HORA17 HORA18 HORA19 HORA20 HORA21 HORA22 HORA23 HORA24
1 0      0      0      0      0.2    0.2    0      0.0    0.0
2 0      0      0      0      0.0    0.0    0      0.6    0.7
3 0      0      0      0      0.0    0.0    0      0.0    0.0
4 0      0      0      0      0.0    0.0    0      0.0    0.0
5 0      0      0      0      0.0    0.0    0      0.0    0.0
6 0      0      0      0      0.0    0.0    0      0.0    0.0

       ESTACION  MAGNITUD ANO  MES DIA time HORA id
6278.1 BELISARIO LLU      2008 1   1   1    0    6278
6278.2 BELISARIO LLU      2008 1   1   2    0    6278
6278.3 BELISARIO LLU      2008 1   1   3    0    6278
6278.4 BELISARIO LLU      2008 1   1   4    0    6278
6278.5 BELISARIO LLU      2008 1   1   5    0    6278
6278.6 BELISARIO LLU      2008 1   1   6    0    6278

In [63]:
# We will do some string concatenations to build a date column

# import package to manipulate strings
library(stringr)

# Create column with date
ord_data$fecha<-paste(as.character(ord_data$DIA), str_pad(as.character(ord_data$MES), 2, pad='0'), 
                       str_pad(as.character(ord_data$ANO), 2, pad='0'), sep='/')

# Create column with time
ord_data$hora<-paste(str_pad(as.character(ord_data$time-1), 2, pad='0'), ':00:00', sep="")

# Create column with both date and time
ord_data$fh<-paste(ord_data$fecha, ord_data$hora, sep=" ")
head(ord_data)

# Create dataframe with Statation, Date_time, and Value
final_data<-ord_data[,c(1,11,7)]
# Assign the proper column names
colnames(final_data) <- c("Station", "Date_time", "precipitation.mm") # AUTOMATIZAR VAR colname
head(final_data)

# Write the result in a csv file
write.csv(final_data, file="00precipitation.mm.csv", row.names=F) # AUTOMATIZAR file name

       ESTACION  MAGNITUD ANO  MES DIA time HORA id   fecha     hora
6278.1 BELISARIO LLU      2008 1   1   1    0    6278 1/01/2008 00:00:00
6278.2 BELISARIO LLU      2008 1   1   2    0    6278 1/01/2008 01:00:00
6278.3 BELISARIO LLU      2008 1   1   3    0    6278 1/01/2008 02:00:00
6278.4 BELISARIO LLU      2008 1   1   4    0    6278 1/01/2008 03:00:00
6278.5 BELISARIO LLU      2008 1   1   5    0    6278 1/01/2008 04:00:00
6278.6 BELISARIO LLU      2008 1   1   6    0    6278 1/01/2008 05:00:00
       fh
6278.1 1/01/2008 00:00:00
6278.2 1/01/2008 01:00:00
6278.3 1/01/2008 02:00:00
6278.4 1/01/2008 03:00:00
6278.5 1/01/2008 04:00:00
6278.6 1/01/2008 05:00:00

       Station   Date_time          precipitation.mm
6278.1 BELISARIO 1/01/2008 00:00:00 0
6278.2 BELISARIO 1/01/2008 01:00:00 0
6278.3 BELISARIO 1/01/2008 02:00:00 0
6278.4 BELISARIO 1/01/2008 03:00:00 0
6278.5 BELISARIO 1/01/2008 04:00:00 0
6278.6 BELISARIO 1/01/2008 05:00:00 0

In [20]:
# Repeat the process above for wind_direction.deg, wind_speed.ms and pm25ugm3
# You will end with 4 csv files

In [55]:
# If you have not generated all csv files from the xls files above
# Download from here: 
# https://drive.google.com/open?id=0B-dmEvN59Z2ZWTJBeENxMkE4WDg

# Read all csv files to join
# csv_list<-list.files(pattern="*.csv")
# I have more csv files in my directory and need better discrimination
csv_list<-list.files(pattern='0.*.csv')
csv_list

# Create a list, here we will store a dataframe for each file
my.data <- list()
for (i in 1:length(csv_list)){
    my.data[[i]] <- read.csv(csv_list[i]) 
}

estaciones <- levels(factor(my.data[[1]]$Station)) # Get all station in first file/dataframe
estaciones
e1 <- estaciones[1] # Get the first station
e1

[1] "00precipitation.mm.csv"   "00wind_speed.ms.csv"
[3] "01wind_direction.deg.csv" "02wind_speed.ms.csv"
[5] "03pm25ugm3.csv"

[1] "BELISARIO"   "CARAPUNGO"   "COTOCOLLAO"  "EL CAMAL"    "GUAMANI"
[6] "LOS CHILLOS" "TUMBACO"

[1] "BELISARIO"

In [65]:
# Use the Station e1 to build names of files
file_name<-paste(e1, ".csv", sep="")
file_name_nmv <- paste(e1, "_nmv.csv", sep="")

library(dplyr) # filter data

# Create new list to store data from a single station e1
# We are filtering the data by station e1
my.data.f <- list() 
# Loop through original data and filter by estation e1
for (i in 1:length(my.data)) {
    # my.data.t[[i]] <- my.data[[i]][my.data[[i]]$Station==e1,2:3]
    my.data.f[[i]] <- filter(my.data[[i]], my.data[[i]]$Station == e1)[,2:3]
}

# load library to perform join 
library(plyr) # Do not forget to install

# Perform a left join of filtered data using as key Date_time
# if there are duplicated keys will keep the first match only
j_data<-join_all(my.data.f, by='Date_time', type='left', match="first")
head(j_data)

# Write file (the file names are taken from the Station name)
write.csv(j_data, file=file_name, row.names=F)

# load library to remove missing values
library(tidyr)
# Remove all missing values (not the best solution)
rmv_data<-j_data %>% drop_na()

# Write csv file without missing vales
write.csv(rmv_data, file=file_name_nmv, row.names=F)

# We will end up with the following files in the working directory
# BELISARIO.csv
# BELISARIO_nmv.csv

# We have EXTRACTED data, and TRANSFORMED it
# Now you have a nice csv file to "LOAD" 
# and perform analysis on your tidy data.

  Date_time          rain.mm wind_speed.ms wind_direction.deg velocidad
1 1/01/2008 00:00:00 0       1.57           87.96             1.57
2 1/01/2008 01:00:00 0       1.53           72.26             1.53
3 1/01/2008 02:00:00 0       2.22           86.11             2.22
4 1/01/2008 03:00:00 0       1.85           76.69             1.85
5 1/01/2008 04:00:00 0       1.23          107.54             1.23
6 1/01/2008 05:00:00 0       1.96          103.30             1.96
  pm25ugm3
1 48.68
2 97.01
3 93.51
4 61.88
5 41.20
6 37.75

In [ ]:
# Taller 0: Automatizar el proceso presentado en este notebook
# Input: archivos xls con variables meteorológicas de Quito y PM2.5
# Escriba un script que 
# 1. Liste los archivos xls
# 2. Para cada archvio en 1
#    Cargue y Transforme los datos según los pasos arriba
#    Guarde un archivo csv con los datos transformados
# 3. Liste y cargue los archivos csv generados en 2
# 4. Para cada estación
#    Cargue los datos
#    Una los datos para cada estacion
#    Escriba un archivo csv con los datos unidos
#    Escriba un archivo csv con los datos sin valores faltantes
# 
# Output:
# 2 csv files por cada estación (con y sin valores faltantes)
# Nota en el paso 2, puede usar el nombre del archivo xls para 
# indicar el nombre del archivo csv a generar así como el nombre
# de la columna (variable) asociada a ese archivo.
# Ej. 02wind_speed.ms.xls genera
#     wind_speed.ms -> nombre de la columna
#     02wind_speed.ms.csv -> nombre del archivo

# Entrega: Domingo 3 de septiembre a las 23:59 por medio de SICUA.